@use 'base/variables' as v;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


::-webkit-scrollbar {
  width: 1rem;
}

::-webkit-scrollbar-track {
  background: v.$color-white;
}

::-webkit-scrollbar-thumb {
  background: v.$color-primary-dark;
  border-radius: 1rem;
}


html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

img {
  display: block;
  object-fit: cover;
}

button {
  border: none;
  outline: 0;
  cursor: pointer;
  background-color: transparent;
}

li {
  list-style: none;
}

body {
  background-color: #f1f1f1;
  font-family: "Poppins", sans-serif;
  color: #f1f1f1;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.content {
  max-width: 120rem;
  margin: 0 auto;
  width: 90%;
}
