@use "variables" as v;
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

h1 {
  font-size: 4.5rem;
}
h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.4rem;
  @media screen and (min-width: v.$tablet) {
    font-size: 1.6rem;
  }
}
