$ff-primary: "Poppins", sans-serif;
$color-primary: #b983ff;
$color-secondary: #c1ffd7;
$color-dark: #303030;
$color-white: #f1f1f1;
$shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
$shadow-bottom: 0 10px 10px -10px rgba(0, 0, 0, 0.3);
$phone: 48rem;
$tablet: 76.8rem;
$desktop: 102.4rem;
