@use "base/variables" as v;
@use "base/mixins" as m;

.section-about {
  background: v.$color-dark-transparent;
  padding: 15rem 0;
}

.about {
  @media (min-width: v.$tablet) {
    @include m.flexDirection(row-reverse);
    gap: 4rem;
  }

  &__img img {
    display: none;
    @media screen and (min-width: v.$tablet) {
      width: 45rem;
      display: block;
    }
  }

  &__text {
    h2 {
      color: v.$color-white;
    }
  }

  &__text {
    p {
      font-weight: bold;
      text-align: left;
      color: v.$color-white;
    }
  }
}
