@use "base/variables" as v;
@use "base/mixins" as m;

.section-home {
  min-height: 100vh;
  @include m.flexCenter;
  background: v.$color-dark;
  margin: 0 auto;
  overflow: hidden;

  .home {
    @include m.flexDirection(column);

    &__texts {
      @include m.flexDirection(column);
      margin-top: 5rem;
      text-align: center;
      gap: 2rem;

      h1 {
        text-align: center;
        color: v.$color-white;
        text-decoration: underline wavy v.$color-primary;
        animation: moveInLeft 1s ease-out;
      }

      h3 {
        text-align: center;
        animation: moveInRight 1s ease-out;
      }
    }

    &__btn-about {
      @include m.btn(12px, 18px, 1.8rem);
    }

    &__img {
      animation: moveInBottom 1s ease-out;

      img {
        display: none;
        max-width: 20rem;
      }
    }

    &__links {
      display: flex;
      gap: 3rem;
      margin: 2rem 0;
      animation: moveInBottom 1s ease-out;

      a {
        display: flex;
        font-size: 3rem;
        color: v.$color-secondary;
      }
    }

    @media (min-width: v.$phone) {
      &__img img {
        display: block;
      }
    }
  }
}
