@use "base/variables" as v;
@use "base/mixins" as m;

.section-projects {
  padding: 15rem 0 5rem 0;
  background-color: #303030e2;
  @include m.flexDirection(column);

  &__texts h2 {
    color: v.$color-white;
    text-align: center;
    margin-bottom: 5rem;
  }
}

.projects {
  max-width: 180rem;
  margin: 0 auto;
  display: grid;
  place-content: center;
  grid-template-columns: repeat(1, minmax(200px, 500px));
  @media screen and (min-width: v.$phone) {
    grid-template-columns: repeat(2, minmax(200px, 500px));
  }
  @media screen and (min-width: v.$tablet) {
    grid-template-columns: repeat(3, minmax(200px, 400px));
  }

  &__project {
    margin: 1rem 2rem;
    border: 2px solid v.$color-secondary;
    box-shadow: v.$shadow;
    padding: 1rem;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    @media screen and (min-width: v.$tablet) {
      padding: 2rem;
    }
    &--title {
      font-size: 2.5rem;
      margin-bottom: 2rem;
    }

    &--description {
      font-size: 1.4rem;
    }

    &--link {
      @include m.btn(5px, 10px);
    }
  }

  &__button {
    @include m.btn(5px, 10px);
  }

  &__contact {
    display: flex;
    flex-direction: column;
    border: 1px solid v.$color-secondary;
    padding: 5rem;
    max-width: 70%;
    border-radius: 1rem;

    a {
      @include m.btn(5px, 10px);
      align-self: flex-start;
    }
  }
}
